In [47]:
import pandas as pd

In [58]:
bike_df=pd.read_excel(r"C:\Users\user\Desktop\Yeni Microsoft Excel Worksheet.xlsx")

In [59]:
bike_df

,Date,Customer_Age,Age_group,Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
0,2013-11-26,19,adultry,Male,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,590,360,950
1,2015-11-26,19,adultry,Male,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,590,360,950
2,2014-03-23,49,midle_age,Male,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,23,45,120,1366,1035,2401
3,2016-03-23,49,midle_age,Male,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,20,45,120,1188,900,2088
4,2014-05-15,47,midle_age,Female,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,4,45,120,238,180,418
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,2016-01-01,24,adultry,Male,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,6,45,120,356,270,626
196,2014-03-01,24,adultry,Female,Australia,Victoria,Accessories,Bike Racks,Hitch Rack - 4-Bike,2,45,120,100,90,190
197,2016-03-01,24,adultry,Female,Australia,Victoria,Accessories,Bike Racks,Hitch Rack - 4-Bike,4,45,120,199,180,379
198,2014-06-12,26,young,Male,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,7,45,120,416,315,731
199,2016-06-12,26,young,Male,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,4,45,120,238,180,418

In [ ]:
#some basic info of given data:

In [60]:
bike_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Date              200 non-null    datetime64[ns]
 1   Customer_Age      200 non-null    int64
 2   Age_group         200 non-null    object
 3   Gender            200 non-null    object
 4   Country           200 non-null    object
 5   State             200 non-null    object
 6   Product_Category  200 non-null    object
 7   Sub_Category      200 non-null    object
 8   Product           200 non-null    object
 9   Order_Quantity    200 non-null    int64
 10  Unit_Cost         200 non-null    int64
 11  Unit_Price        200 non-null    int64
 12  Profit            200 non-null    int64
 13  Cost              200 non-null    int64
 14  Revenue           200 non-null    int64
dtypes: datetime64[ns](1), int64(7), object(7)
memory usage: 23.6+ KB

In [61]:
bike_df.describe()

,Customer_Age,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
count,200.000000,200.000000,200.0,200.0,200.0000,200.000000,200.000000
mean,38.990000,8.570000,45.0,120.0,553.3950,385.650000,939.045000
std,12.215399,7.359751,0.0,0.0,502.2115,331.188779,829.046418
min,19.000000,1.000000,45.0,120.0,49.0000,45.000000,94.000000
25%,29.000000,3.000000,45.0,120.0,199.7500,135.000000,353.000000
50%,38.000000,7.000000,45.0,120.0,411.5000,315.000000,713.000000
75%,47.250000,10.000000,45.0,120.0,701.7500,450.000000,1176.000000
max,87.000000,30.000000,45.0,120.0,2178.0000,1350.000000,3528.000000

In [ ]:
#retrieving some data:

In [62]:
bike_df.loc[100]

Date                2014-05-11 00:00:00
Customer_Age                         32
Age_group                         young
Gender                             Male
Country                   United States
State                        California
Product_Category            Accessories
Sub_Category                 Bike Racks
Product             Hitch Rack - 4-Bike
Order_Quantity                       26
Unit_Cost                            45
Unit_Price                          120
Profit                             1888
Cost                               1170
Revenue                            3058
Name: 100, dtype: object

In [70]:
bike_df.at[100,"Cost"]

1170

In [80]:
revenue_df=bike_df[["Country","Date","Revenue"]]

In [81]:
revenue_df.sort_values('Revenue',ascending=False)

           Country       Date  Revenue
90   United States 2014-02-12     3528
182  United States 2014-01-17     3528
183  United States 2016-01-17     3410
95         Germany 2015-09-23     3236
91   United States 2016-02-12     3175
..             ...        ...      ...
49         Germany 2015-08-07       98
119      Australia 2015-10-27       95
86   United States 2014-02-04       94
173  United States 2016-02-27       94
97   United States 2015-09-20       94

[200 rows x 3 columns]

In [82]:
bike_df.sample(100)

,Date,Customer_Age,Age_group,Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
93,2016-05-17,46,midle_age,Male,United States,California,Accessories,Bike Racks,Hitch Rack - 4-Bike,2,45,120,145,90,235
141,2016-06-06,32,young,Female,France,Loir et Cher,Accessories,Bike Racks,Hitch Rack - 4-Bike,7,45,120,433,315,748
169,2015-07-31,29,young,Female,United States,California,Accessories,Bike Racks,Hitch Rack - 4-Bike,22,45,120,1597,990,2587
73,2016-05-30,38,midle_age,Female,United States,California,Accessories,Bike Racks,Hitch Rack - 4-Bike,2,45,120,145,90,235
173,2016-02-27,55,old,Female,United States,Washington,Accessories,Bike Racks,Hitch Rack - 4-Bike,1,45,120,49,45,94
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101,2016-05-11,32,young,Male,United States,California,Accessories,Bike Racks,Hitch Rack - 4-Bike,27,45,120,1960,1215,3175
27,2015-12-26,49,midle_age,Male,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,5,45,120,369,225,594
183,2016-01-17,53,midle_age,Female,United States,California,Accessories,Bike Racks,Hitch Rack - 4-Bike,29,45,120,2105,1305,3410
6,2014-05-22,47,midle_age,Female,Australia,Victoria,Accessories,Bike Racks,Hitch Rack - 4-Bike,4,45,120,199,180,379
13,2015-07-15,34,young,Male,Australia,Victoria,Accessories,Bike Racks,Hitch Rack - 4-Bike,7,45,120,349,315,664

In [83]:
bike_df

,Date,Customer_Age,Age_group,Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
0,2013-11-26,19,adultry,Male,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,590,360,950
1,2015-11-26,19,adultry,Male,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,590,360,950
2,2014-03-23,49,midle_age,Male,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,23,45,120,1366,1035,2401
3,2016-03-23,49,midle_age,Male,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,20,45,120,1188,900,2088
4,2014-05-15,47,midle_age,Female,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,4,45,120,238,180,418
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,2016-01-01,24,adultry,Male,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,6,45,120,356,270,626
196,2014-03-01,24,adultry,Female,Australia,Victoria,Accessories,Bike Racks,Hitch Rack - 4-Bike,2,45,120,100,90,190
197,2016-03-01,24,adultry,Female,Australia,Victoria,Accessories,Bike Racks,Hitch Rack - 4-Bike,4,45,120,199,180,379
198,2014-06-12,26,young,Male,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,7,45,120,416,315,731
199,2016-06-12,26,young,Male,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,4,45,120,238,180,418

In [90]:
bike_df.drop(columns="Revenue",inplace=True)

In [91]:
bike_df

,Date,Customer_Age,Age_group,Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost
0,2013-11-26,19,adultry,Male,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,590,360
1,2015-11-26,19,adultry,Male,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,590,360
2,2014-03-23,49,midle_age,Male,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,23,45,120,1366,1035
3,2016-03-23,49,midle_age,Male,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,20,45,120,1188,900
4,2014-05-15,47,midle_age,Female,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,4,45,120,238,180
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,2016-01-01,24,adultry,Male,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,6,45,120,356,270
196,2014-03-01,24,adultry,Female,Australia,Victoria,Accessories,Bike Racks,Hitch Rack - 4-Bike,2,45,120,100,90
197,2016-03-01,24,adultry,Female,Australia,Victoria,Accessories,Bike Racks,Hitch Rack - 4-Bike,4,45,120,199,180
198,2014-06-12,26,young,Male,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,7,45,120,416,315
199,2016-06-12,26,young,Male,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,4,45,120,238,180

In [92]:
bike_df["Revenue"]=bike_df.Cost+bike_df.Profit

In [93]:
bike_df

,Date,Customer_Age,Age_group,Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
0,2013-11-26,19,adultry,Male,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,590,360,950
1,2015-11-26,19,adultry,Male,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,590,360,950
2,2014-03-23,49,midle_age,Male,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,23,45,120,1366,1035,2401
3,2016-03-23,49,midle_age,Male,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,20,45,120,1188,900,2088
4,2014-05-15,47,midle_age,Female,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,4,45,120,238,180,418
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,2016-01-01,24,adultry,Male,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,6,45,120,356,270,626
196,2014-03-01,24,adultry,Female,Australia,Victoria,Accessories,Bike Racks,Hitch Rack - 4-Bike,2,45,120,100,90,190
197,2016-03-01,24,adultry,Female,Australia,Victoria,Accessories,Bike Racks,Hitch Rack - 4-Bike,4,45,120,199,180,379
198,2014-06-12,26,young,Male,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,7,45,120,416,315,731
199,2016-06-12,26,young,Male,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,4,45,120,238,180,418

In [96]:
higher_revenue=bike_df[bike_df.Revenue>=2000]

In [99]:
higher_revenue.sort_values("Revenue",ascending=False).head(10)

,Date,Customer_Age,Age_group,Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
90,2014-02-12,46,midle_age,Male,United States,California,Accessories,Bike Racks,Hitch Rack - 4-Bike,30,45,120,2178,1350,3528
182,2014-01-17,53,midle_age,Female,United States,California,Accessories,Bike Racks,Hitch Rack - 4-Bike,30,45,120,2178,1350,3528
183,2016-01-17,53,midle_age,Female,United States,California,Accessories,Bike Racks,Hitch Rack - 4-Bike,29,45,120,2105,1305,3410
95,2015-09-23,41,midle_age,Female,Germany,Hessen,Accessories,Bike Racks,Hitch Rack - 4-Bike,29,45,120,1931,1305,3236
101,2016-05-11,32,young,Male,United States,California,Accessories,Bike Racks,Hitch Rack - 4-Bike,27,45,120,1960,1215,3175
91,2016-02-12,46,midle_age,Male,United States,California,Accessories,Bike Racks,Hitch Rack - 4-Bike,27,45,120,1960,1215,3175
94,2013-09-23,41,midle_age,Female,Germany,Hessen,Accessories,Bike Racks,Hitch Rack - 4-Bike,28,45,120,1865,1260,3125
100,2014-05-11,32,young,Male,United States,California,Accessories,Bike Racks,Hitch Rack - 4-Bike,26,45,120,1888,1170,3058
36,2013-11-11,34,young,Male,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,25,45,120,1845,1125,2970
52,2013-08-17,43,midle_age,Female,France,Moselle,Accessories,Bike Racks,Hitch Rack - 4-Bike,28,45,120,1697,1260,2957

In [ ]:
#working with dates

In [104]:
bike_df["Date"]=pd.to_datetime(bike_df.Date)

In [107]:
bike_df["year"]=pd.DatetimeIndex(bike_df.Date).year
bike_df["month"]=pd.DatetimeIndex(bike_df.Date).month
bike_df["day"]=pd.DatetimeIndex(bike_df.Date).day
bike_df["weekday"]=pd.DatetimeIndex(bike_df.Date).weekday

In [108]:
bike_df

,Date,Customer_Age,Age_group,Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue,year,month,day,weekday
0,2013-11-26,19,adultry,Male,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,590,360,950,2013,11,26,1
1,2015-11-26,19,adultry,Male,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,590,360,950,2015,11,26,3
2,2014-03-23,49,midle_age,Male,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,23,45,120,1366,1035,2401,2014,3,23,6
3,2016-03-23,49,midle_age,Male,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,20,45,120,1188,900,2088,2016,3,23,2
4,2014-05-15,47,midle_age,Female,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,4,45,120,238,180,418,2014,5,15,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,2016-01-01,24,adultry,Male,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,6,45,120,356,270,626,2016,1,1,4
196,2014-03-01,24,adultry,Female,Australia,Victoria,Accessories,Bike Racks,Hitch Rack - 4-Bike,2,45,120,100,90,190,2014,3,1,5
197,2016-03-01,24,adultry,Female,Australia,Victoria,Accessories,Bike Racks,Hitch Rack - 4-Bike,4,45,120,199,180,379,2016,3,1,1
198,2014-06-12,26,young,Male,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,7,45,120,416,315,731,2014,6,12,3
199,2016-06-12,26,young,Male,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,4,45,120,238,180,418,2016,6,12,6

In [122]:
bike_df_may=bike_df[bike_df.month==5][["Country","Product_Category","Revenue"]]

In [123]:
bike_df_may.sort_values("Revenue",ascending=True)

           Country Product_Category  Revenue
123  United States      Accessories      118
122  United States      Accessories      118
106  United States      Accessories      118
7        Australia      Accessories      190
139        Germany      Accessories      223
93   United States      Accessories      235
72   United States      Accessories      235
73   United States      Accessories      235
138        Germany      Accessories      335
107  United States      Accessories      353
6        Australia      Accessories      379
160      Australia      Accessories      418
4        Australia      Accessories      418
5        Australia      Accessories      522
92   United States      Accessories      588
161      Australia      Accessories      626
184  United States      Accessories      706
185  United States      Accessories      706
20          Canada      Accessories      713
21          Canada      Accessories      950
104         Canada      Accessories     1782
105         Canada      Accessories     1782
85   United States      Accessories     1882
84   United States      Accessories     1999
33          Canada      Accessories     2732
32          Canada      Accessories     2851
100  United States      Accessories     3058
101  United States      Accessories     3175

In [ ]:
#Groupping and Agregattion

In [124]:
bike_df

,Date,Customer_Age,Age_group,Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue,year,month,day,weekday
0,2013-11-26,19,adultry,Male,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,590,360,950,2013,11,26,1
1,2015-11-26,19,adultry,Male,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,590,360,950,2015,11,26,3
2,2014-03-23,49,midle_age,Male,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,23,45,120,1366,1035,2401,2014,3,23,6
3,2016-03-23,49,midle_age,Male,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,20,45,120,1188,900,2088,2016,3,23,2
4,2014-05-15,47,midle_age,Female,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,4,45,120,238,180,418,2014,5,15,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,2016-01-01,24,adultry,Male,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,6,45,120,356,270,626,2016,1,1,4
196,2014-03-01,24,adultry,Female,Australia,Victoria,Accessories,Bike Racks,Hitch Rack - 4-Bike,2,45,120,100,90,190,2014,3,1,5
197,2016-03-01,24,adultry,Female,Australia,Victoria,Accessories,Bike Racks,Hitch Rack - 4-Bike,4,45,120,199,180,379,2016,3,1,1
198,2014-06-12,26,young,Male,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,7,45,120,416,315,731,2014,6,12,3
199,2016-06-12,26,young,Male,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,4,45,120,238,180,418,2016,6,12,6

In [125]:
group_country=bike_df.groupby("Country")[["Order_Quantity","Cost","Profit","Revenue"]].sum()

In [128]:
group_country.sort_values("Revenue",ascending=True)

                Order_Quantity   Cost  Profit  Revenue
Country
United Kingdom              36   1620    2527     4147
Germany                     90   4050    5653     9703
France                      99   4455    5879    10334
Australia                  262  11790   14508    26298
Canada                     321  14445   23691    38136
United States              906  40770   58421    99191